@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.html-content > blockquote,
.html-content > dl,
.html-content > dd,
.html-content > h1,
.html-content > h2,
.html-content > h3,
.html-content > h4,
.html-content > h5,
.html-content > h6,
.html-content > hr,
.html-content > figure,
.html-content > p,
.html-content > pre {
  margin: revert;
}

.html-content > ol,
.html-content > ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.html-content > table {
  border-collapse: revert;
}

.html-content > h1,
.html-content > h2,
.html-content > h3,
.html-content > h4,
.html-content > h5,
.html-content > h6 {
  font-size: revert;
  font-weight: revert;
}
